@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* ------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #525659;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
}
/* ----------- header ----------- */
header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.384);
}
.header {
  margin: 0 auto;
  display: flex;
}
.header a {
  padding: 0.4rem;
  color: rgb(221, 220, 220);
  transition: all 250ms ease-in-out;
}
.header a:hover {
  color: white;
  background-color: #6b6f72;
}
.header li {
  display: inline-block;
  list-style: none;
  padding: 0.5rem;
  margin-right: 0.2rem;
}
.header_top {
  padding: 2rem 2rem 1rem 2rem;
  background-color: #313c4e;
  display: flex;
}
.header_top_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_top h1 {
  color: white;
  font-weight: 400;
}
.header_top h3 {
  color: #449399;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.header_top p {
  color: #dadada;
  font-size: 0.78rem;
  max-width: 550px;
}
.header_top img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 125px;
  margin-left: 5rem;
  border-radius: 50%;
  border: 4px solid #449399;
  transition: transform 300ms ease-in-out;
}
.header_top img:hover {
  transform: scale(1.05);
}
.header_bottom {
  background-color: #222a33;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 2rem;
}
.header_bottom a {
  color: rgb(223, 223, 223);
  transition: transform 250ms ease-in-out;
}
.header_bottom a:hover {
  color: rgb(255, 255, 255);
}
.header_bottom li {
  list-style: none;
}
.location,
.date {
  margin: 1rem 0;
}
.fab,
.far,
.fas {
  margin-right: 0.9rem;
}

/* ----------- main ------------- */
main {
  display: flex;
  max-width: 830px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: white;
  flex-direction: column;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.384);
}

.projects,
.skills,
.education {
  padding: 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.project {
  border-bottom: 2px solid #313c4e;
  padding: 0.5rem;
}
.projects a {
  color: black;
  transition: all 250ms ease-in-out;
}
.projects a:hover {
  font-weight: 500;
}
.projects h4 {
  margin: 0.5rem;
}
.projects h1,
.skills h1,
.education h1 {
  margin: 0 auto;
  color: #449399;
  font-size: 1.6rem;
}
.projects i {
  margin-left: 0.5rem;
  color: #313c4e;
}
/* ========================================= */

/*========================== skills ========================== */
.skills_details {
  display: flex;
  flex-wrap: wrap;
}
.skills h1 {
  margin-bottom: 0.5rem;
}
.skills_details p {
  padding: 0.5rem;
  margin: 0.15rem;
  background-color: rgb(102, 102, 102);
  border-radius: 5px;
  color: rgb(221, 221, 221);
  transition: all 500ms ease-in;
}
.skills_details p:hover {
  color: white;
  font-weight: 600;
}

/*============ arrow back ============= */
.back {
  position: fixed;
  bottom: 0.8rem;
  right: 0;
}
.back .far {
  font-size: 2rem;
  color: #449399;
  transition: transform 200ms ease-in-out;
}
.back .far:hover {
  transform: scale(1.05);
  color: #53b3b9;
}

/* ======================================= */
.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.education h3 {
  margin-top: 1rem;
}
/* ============================================== */

@media only screen and (max-width: 700px) {
  .education {
    flex-direction: column;
    justify-content: center;
  }
  .education .languages h1 {
    margin-top: 2rem;
  }
  .header_top {
    flex-direction: column-reverse;
  }
  .header_bottom {
    flex-direction: column;
  }
  .header_bottom ul:last-of-type {
    margin-top: 1rem;
  }
  .header_top img {
    margin: 0 auto;
  }
  .header a {
    font-size: 1.1rem;
  }
}
